In [2]:
!pip install -Uqq fastai # upgrade fastai

In [3]:
from fastai.tabular.all import *

path = untar_data(URLs.ADULT_SAMPLE)
path.ls()

(#3) [Path('/home/weidong/.fastai/data/adult_sample/export.pkl'),Path('/home/weidong/.fastai/data/adult_sample/models'),Path('/home/weidong/.fastai/data/adult_sample/adult.csv')]

In [4]:
df = pd.read_csv(path / 'adult.csv')

In [5]:
df.head(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k
5,20,Private,63210,HS-grad,9.0,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<50k
6,49,Private,44434,Some-college,10.0,Divorced,NaN,Other-relative,White,Male,0,0,35,United-States,<50k
7,37,Private,138940,11th,7.0,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,<50k
8,46,Private,328216,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>=50k
9,36,Self-emp-inc,216711,HS-grad,NaN,Married-civ-spouse,NaN,Husband,White,Male,99999,0,50,?,>=50k
10,23,Private,529223,Bachelors,13.0,Never-married,NaN,Own-child,Black,Male,0,0,10,United-States,<50k
11,18,Private,216284,11th,NaN,Never-married,Adm-clerical,Own-child,White,Female,0,0,20,United-States,<50k
12,30,Private,151989,Assoc-voc,NaN,Married-civ-spouse,NaN,Wife,White,Female,0,0,40,United-States,<50k
13,30,Private,55291,Bachelors,NaN,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,>=50k
14,43,Private,84661,Assoc-voc,NaN,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<50k
15,51,Private,284329,HS-grad,9.0,Widowed,NaN,Unmarried,White,Male,0,0,40,United-States,<50k
16,38,Private,170174,10th,NaN,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>=50k
17,35,Private,261293,Masters,14.0,Never-married,NaN,Not-in-family,White,Male,0,0,60,United-States,<50k
18,56,State-gov,274111,Masters,14.0,Divorced,NaN,Not-in-family,White,Male,0,1669,40,United-States,<50k
19,45,Private,267967,Bachelors,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>=50k

In [7]:
dls = TabularDataLoaders.from_csv(path/'adult.csv', path=path, y_names="salary",
                                  cat_names=['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race'],
                                  cont_names=['age', 'fnlwgt', 'education-num'],
                                  procs=[Categorify, FillMissing, Normalize])

/home/weidong/develop/python-playground/venv/lib/python3.12/site-packages/fastai/tabular/core.py:314: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  to[n].fillna(self.na_dict[n], inplace=True)

In [21]:
print(f"Total training samples: {len(dls.train_ds)}")
print(f"Total validation samples: {len(dls.valid_ds)}")

x_cat, x_cont, y = dls.one_batch()
print(f"Categorical Input Shape: {x_cat.shape}")  # (batch_size, num_cat_features)
print(f"Continuous Input Shape: {x_cont.shape}")  # (batch_size, num_cont_features)
print(f"Target Shape: {y.shape}")  # (batch_size,)

print("Categorical features (batch):", x_cat[:5])  # First 5 samples
print("Continuous features (batch):", x_cont[:5])
print("Target values (batch):", y[:5])

Total training samples: 26049
Total validation samples: 6512
Categorical Input Shape: torch.Size([64, 7])
Continuous Input Shape: torch.Size([64, 3])
Target Shape: torch.Size([64, 1])
Categorical features (batch): tensor([[ 5,  2,  5,  9,  4,  5,  1],
        [ 5,  1,  5,  9,  4,  5,  1],
        [ 8, 16,  3,  8,  1,  5,  1],
        [ 2, 13,  3,  5,  1,  5,  1],
        [ 5, 12,  3,  8,  1,  5,  1]])
Continuous features (batch): tensor([[-1.5837, -0.2069, -1.2002],
        [-1.5837,  0.7035, -1.5918],
        [ 0.7611, -0.6409, -0.0253],
        [ 0.1749,  0.2390,  1.5411],
        [ 0.1016, -1.0748, -0.4169]])
Target values (batch): tensor([[0],
        [0],
        [1],
        [1],
        [0]], dtype=torch.int8)

In [10]:
dls.show_batch()

In [15]:
learn = tabular_learner(dls, metrics=accuracy)

In [16]:
learn.fit_one_cycle(1)

In [17]:
learn.show_results()

In [18]:
print(f"Categorical Features: {len(dls.cat_names)} -> {dls.cat_names}")
print(f"Continuous Features: {len(dls.cont_names)} -> {dls.cont_names}")
print(f"Target Column: {dls.y_names}")

Categorical Features: 7 -> ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'education-num_na']
Continuous Features: 3 -> ['age', 'fnlwgt', 'education-num']
Target Column: ['salary']

In [22]:
row, clas, probs = learn.predict(df.iloc[0])

/home/weidong/develop/python-playground/venv/lib/python3.12/site-packages/fastai/tabular/core.py:314: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  to[n].fillna(self.na_dict[n], inplace=True)

In [33]:
test_df = df.copy()
test_df.drop(['salary'], axis=1, inplace=True)
dl = learn.dls.test_dl(test_df)

/home/weidong/develop/python-playground/venv/lib/python3.12/site-packages/fastai/tabular/core.py:314: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  to[n].fillna(self.na_dict[n], inplace=True)

In [34]:
learn.get_preds(dl=dl)

(tensor([[0.8034, 0.1966],
         [0.5040, 0.4960],
         [0.8342, 0.1658],
         ...,
         [0.7885, 0.2115],
         [0.8878, 0.1122],
         [0.9203, 0.0797]]),
 None)